<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="wine.name" class="form-control" id="title" placeholder="Wine Name Here"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Year</label>
    <div class="col-sm-10">
        <input type="text" ng-model="wine.year" class="form-control" id="year" placeholder="Year of Wine"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Grapes</label>
    <div class="col-sm-10">
        <input type="text" ng-model="wine.grapes" class="form-control" id="director" placeholder="Grapes Used in Wine"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Country</label>
    <div class="col-sm-10">
        <input type="text" ng-model="wine.country" class="form-control" id="plot" placeholder="Wine Country of Origin"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Region</label>
    <div class="col-sm-10">
        <input type="text" ng-model="wine.region" class="form-control" id="plot" placeholder="Wine Region of Origin"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="wine.description" class="form-control" id="plot" placeholder="Wine Description"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Picture</label>
    <div class="col-sm-10">
        <input type="text" ng-model="wine.picture" class="form-control" id="plot" placeholder="Wine Picture"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>